autostart/
Thunar/
Code/
dconf/
microsoft-edge-dev/
mimeapps.list
pulse/
trizen/
xfce4/
fisher/
nvm/
pipewire-media-session/
htop/
kdeconnect/
kde.org/
nordvpn/
spicetify/
syncthing/
zoomus.conf
flameshot/
calibre/
QtProject.conf