*
!.gitignore
!.tool-versions
!*.sh
!fish/
!fish/*
!emacs/
!emacs/*
!doom/
!doom/*
!tmux/
!tmux/*
!font/
!font/*
!kitty/
!kitty/*
!nvim/
!nvim/*
!nvim/**/*
!devbox.*
!taskwarrior-super-productivity-sync/
!taskwarrior-super-productivity-sync/*
node_modules
!vscode-settings.json
!vscode-keybindings.json
!ghostty/*
